@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
html, body {
  max-width: 100vw;
  overflow-x: hidden;
}
 
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: black;
}


.main {
  background-image: url("assets/images/bg.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: max(1200px, 100vw);
  height: 100vh;
  position: relative;
}
.main .box {
  height: 100vh;
  width: 100%;
  opacity: 0.6;
  position: absolute;
  top: 0;
  background-color: rgb(0, 0, 0);
}

nav {
  width: 100%;
  padding: 20px 10%;
  justify-content: space-between;
  display: flex;
  position: relative;
}
nav img {
  margin-top: 8px;
  width: 160px;
  position: relative;
  z-index: 1;
}
nav button {
  position: relative;
  z-index: 1;
}

@media screen and (max-width: 960px) {
  .main {
    height: 80vh;
    position: relative;
  }
}


.hero {
  padding: 30px;
  text-align: center;
  color: rgb(255, 255, 255);
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  position: relative;
  bottom: 75px;
  gap: 10px;
}
.gradient-overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 200px; /* adjust height if needed */
  background: linear-gradient(to top, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
  z-index: 1;
}
.hero > :first-child {
  font-size: 55px;
  font-weight: 800;
  line-height: 0.8;
  align-items: center;
}
.hero > :nth-child(2) {
  font-size: 50px;
  font-weight: 800;
  align-items: center;
}
.hero > :nth-child(3) {
  font-size: 18px;
  font-weight: bolder;
  line-height: 3;
  align-items: center;
}
.hero > :nth-child(4) {
  font-size: 17px;
  font-weight: 450;
  line-height: 3;
  align-items: center;
}

.btn {
  border-style: none;
  border-radius: 4px;
  font-size: 14px;
  font-weight: 600;
  background-color: rgb(23, 23, 23, 0.5);
  color: white;
  cursor: pointer;
}
.nav-buttons {
  display: flex;
  align-items: center;
  gap: 10px;
}
.sel {
  border-radius: 4px;
  padding: 5px 25px;
  font-size: 14px;
  font-weight: 600;
  background-color: rgb(23, 23, 23, 0.5);
  color: white;
}
.red-btn {
  background-color: red;
  color: white;
  font-size: 20px;
  font-weight: 500;
  padding: 16px 35px;
  border-style: none;
  border-radius: 4px;
  cursor: pointer;
}
.red-btn-sn {
  background-color: red;
  font-weight: 600;
  color: white;
  padding: 6px 12px;
  border-style: none;
  border-radius: 3px;
  cursor: pointer;
  margin-left: 12px;
}
.two-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-wrap: wrap;
}

.main input {
  flex:1;
  min-width: 250px;
  max-width: 450px;
  padding: 18px 20px 18px 20px;
  border: 1px solid rgba(255, 255, 255, 0.4);
  border-radius: 4px;
  background-color: rgba(23, 23, 23, 0.5);
  color: white;
  font-size: 16px;
  font-weight: 500;
}
@media (max-width: 960px) {
  nav {
    padding: 15px;
  }

   nav img {
    width: 85px;
  }
  nav .nav-buttons .btn
  {
    width:30vw;
}
}


@media screen and (max-width: 960px) {
  .two-btn {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 15px;
  }
  .main input {
    width: 80vw;
    padding: 15px 20px;
  }
  .red-btn {
    width: 42vw;
    padding: 12px;
    font-size: 16px;
    font-weight: 500;
  }
  .hero {
    height: 80vh;
    position: relative;
    bottom: 70px;
    gap: 5px;
  }
  .hero > :first-child {
    font-size: 30px;
    font-weight: 800;
  }
  .hero > :nth-child(2) {
    font-size: 30px;
    font-weight: 800;
    line-height: 1.8;
  }
  .hero > :nth-child(3) {
    font-size: 16px;
    font-weight: 400;
    line-height: 1;
    align-items: center;
  }
  .hero > :nth-child(4) {
    position: relative;
    top: 18px;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.4;
    padding-bottom: 30px;
  }
}

.line {
  border: 4px solid white;
}
.sec {
  position: relative;
}
.trend {
  position: absolute;
  top: 40px;
  left: 130px;
  width: 80vw;
  margin: auto;
  color: white;
  font-size: 27px;
  font-weight: 600;
  padding: 10px;
}
.separation {
  margin: 10px;
  height: 10px;
  background-color: rgba(65, 22, 80, 0.404);
}
@media screen and (max-width: 960px) {
  .separation {
    width: 100vw;
    height: 8px;

  }
}
.trending {
  display: flex;
  overflow-x: auto;
  gap: 25px;
  scroll-behavior: smooth;
  scrollbar-width: none;
  background-color: rgba(255, 255, 255, 0);
  width: 100vw;
  padding: 50px;
  margin: 40px 90px;
}
.boxes {
  flex: 0 0 auto;
  width: 190px;
  position: relative;
  margin: 10px;
}

.boxes img {
  width: 100%;
  border-radius: 8px;
}

.card-number {
  position: absolute;
  top: 130px;
  left: -25px;
  font-size: 62px;
  font-weight: bold;
  color: black; /* or any core color you prefer */
  background-color: rgba(0, 0, 0, 0);
  padding: 4px 8px;
  border-radius: 6px;

  /* White outline using text-shadow */
  text-shadow: -1px -1px 0 white, 1px -1px 0 white, -1px 1px 0 white,
    1px 1px 0 white;
}
.reasons {
  width:84vw;
  margin: auto;
  color: white;
  font-size: 25px;
  font-weight: 600;
  padding: 10px;
}
.second {
  display: flex;
  width: 84vw;
  margin: auto;
  gap: 15px;
  position: relative;
  padding: 20px;
  top: 0;
}
.container {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 18px;
  flex-direction: column;
  color: white;
  border-radius: 18px;
  width: 330px;
  height: 300px;
  /* margin: 6px; */
  background: linear-gradient(120deg, #330548, #100018);
}
.container :first-child {
  padding: 10px;
  color: white;
  font-size: 22px;
  font-weight: 700;
}
.container :nth-child(2) {
  padding: 10px;
  color: rgb(204, 228, 223);
  font-size: 16px;
  font-weight: 500;
}
.container :nth-child(3) {
  align-self: flex-end;
  width: 70px;
  border-radius: 50px;
  position: relative;
  top: 30px;
  left: 0px;
}

@media screen and (max-width: 960px) 
{
  .reasons{
    width: 95vw;
    margin-left: 20px;
  }
  .trending{
    margin: 0px;
  }
  .second {
    width: 100vw;
    flex-wrap: wrap;
  }
  .container {
    width: 100vw;
   height: 29vh;
  }
  .container :nth-child(3) {
    align-self: flex-end;
    border-radius: 50px;
    position: relative;
    top: 0px;
    left: 0px;
  }
}
.faq {
  display: flex;
  flex-direction: column;
  gap: 10px;
  background: black;
  color: rgb(255, 255, 255);
}
.faq h2 {
  width:84vw;
  margin: auto;
  color: white;
  font-size: 25px;
  font-weight: 600;
  padding: 10px;
}

.faqbox {
  display: flex;
  justify-content: space-between;
  background-color: rgb(50, 50, 50);
  gap: 10px;
  padding: 24px;
  width: 80vw;
  margin: 0px 142px;
  font-size: 23px;
  font-weight: 500;
  cursor: pointer;
  transition: all 1s ease-out;
}
.faqbox:hover {
  background-color: #696767;
}
@media screen and (max-width: 960px)
 {
  .faq h2 {
    font-size: 20px;
    font-weight: 600;
  }
  .second {
    width: 94vw;
    margin: auto;
    gap: 15px;
    position: relative;
    padding: 20px;
    top: 0;
  }
  .faq h2 {
    width: 90vw;
  }
  .faq {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }
  .faqbox {
    width: 85vw;  
    margin: auto; 
   
  }
}

footer {
  color: white;
  max-width: 80vw;
  margin: auto;
  padding: 34px;
}
footer .ques {
  padding: 34px 0px;
}

.footer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  color: white;
}
.foot-item {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.footer a {
  text-decoration: underline;
  color: white;
  font-size: 14px;
}

.last {
  padding: 30px;
  text-align: center;
  color: rgb(255, 255, 255);
  width: 100vw;
  margin: auto;
  margin-top: 20px;
  display: flex;
  justify-content: center;
  flex-direction: column;
 
}
.last-line {

  font-size: 17px;
  font-weight: 350;
  line-height: 3;
  align-items: center;
}
.last-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.last input {
  flex:1;
  min-width: 250px;
  max-width: 450px;
  padding: 18px 20px 18px 20px;
  border: 1px solid rgba(255, 255, 255, 0.4);
  border-radius: 4px;
  background-color: rgba(23, 23, 23, 0.5);
  color: white;
  font-size: 16px;
  font-weight: 500;
}

.last-sec {
  display: flex;
  flex-direction: column;
}
.one1 {
  padding: 20px;
  width: 80vw;
  margin: auto;
  color: white;
}

.two {
  font-size: 14px;
  padding-right: 10px;
  font-weight: 400;
}
.three {
  font-size: 13px;
  font-weight: 400;
}
.three a {
  color: rgb(81, 81, 239);
}
@media screen and (max-width: 960px) {
  .last {
    padding: 20px 15px;
    width: 90vw;
  }
  .last-btn {
    display: flex;
    flex-direction: column;
    align-self: flex-start;
  }
  .last-btn .red-btn {
    align-self: flex-start;
    position: relative;
    top: 0px;
    border-radius: 4px;
    width: 140px;
  }
  .last-line {
    font-size: 14px;
    align-self: flex-start;
    font-weight: 500;
    text-align: start;
    padding-top: 20px;
    line-height: 1.6;
    margin-bottom: 15px;
  }
  .last input {
    width: 70vw;
    padding: 15px 20px;
  }
  footer {
    max-width: 90vw;
    margin: auto;
    padding: 34px;
  }
  footer .ques {
    padding: 34px 0px;
  }

  .footer {
    display: flex;
    flex-direction: column;
    color: white;
    gap: 22px;
  }

  .foot-item {
    gap: 22px;
  }
  .last-sec {
    max-width: 90vw;
    margin: auto;
    display: flex;
    flex-direction: column;
  }
  .trend {
    position: absolute;
    top: 20px;
    left: 18px;
    width: 80vw;
    margin: auto;
  }
  .trending {
    position: relative;
    right: 28px;
  }
  .reasons {
    padding-right: 40px;
    padding-bottom: 0px;
  }
}


